body {
   /* background-color: rgb(218, 120, 120);*/
    /*background-image: url(img/Paisaje\ neón\ 2\ -\ Neon\ landscape\ 2\ 『PC』.jpg);*/
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    background: url(img/bg2.jpg) no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25%;
    align-items: center;
    justify-content: center;
}

.profile-img{
    height: 190px;
    
}

.social-networks a{
    display:  inline-flex;
    color: #ffffff;
    height: 48px;
    width: 48px;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    transition: transfrom 0.4s;
}

.social-networks a:hover{
    transform: scale(1.3);
}

.social-networks a.twitch{
    background-color: #6441A5;
}

.social-networks a.instagram{
    background-color: #ff0080;
}

.social-networks a.twitter{
    background-color: #1DA1F2;
}

.social-networks a.discord{
    background-color: #7289DA;
}

.cuadrado {
    z-index: 100;
    width: 150px;           /* Ancho de 150 píxeles */
    height: 150px;          /* Alto de 150 píxeles */
    background: red;        /* Fondo de color rojo */
    border: 1px solid #000; /* Borde color negro y de 1 píxel de grosor */
    
}

#bg_video{
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#div-img {
    margin-bottom: 15px;
}

